.poping_links{display:block;width:100%;position:relative;overflow:hidden;color:#00bff3;font:normal 12px/17px "Trebuchet MS",Arial,Helvetica,sans-serif;}

.poping_links span{display:none;}

.moduletable_LoginForm{
	margin:0;padding:0 0 0 0px;
	background:none;
	border-left:none;
	overflow:hidden;
	text-align:left;
	width:644px;
	height:98px;
	position:absolute;right:3px;top:5px;
	z-index:1000;
	text-align:right; 
	/*border:1px solid #000;*/
}

#form-login{overflow:hidden;padding-top:6px;text-align:left;color:#000;text-transform:none;font-weight:normal;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}#form-login span{display:block;padding-bottom:5px;}#login_pop .button{border:none!important;font-size:12px;font-family:Arial,Helvetica,sans-serif;font-weight:normal;letter-spacing:0px;line-height:22px!important;vertical-align:top;display:block;background:#000;color:#fff!important;text-transform:none;width:56px;vertical-align:middle;height:24px;padding:0 0 0 0px;margin:0px 0px 0 0px;text-align:center;position:relative;}#login_pop .button:hover{background:#ffb638;color:#fff!important;text-decoration:none;}@-moz-document url-prefix() {
  #login_pop .button { padding-bottom:3px;}
}
		
/* opening buttons*/
#openLogin, #openHome {
	display:inline-block;
	height:auto;
	width:auto;
	text-align:left;
	background:none;
	border:none;
	color:#b4b3b3;
	text-decoration:none;
	margin:0;
	font:normal 11px/17px Arial, Helvetica, sans-serif;
	text-transform:none;
}
#openLogin { background:url(../images/divider.png) left 5px no-repeat; background:url(../images/divider.png) left 3px no-repeat\0/; padding-left:11px;}
#openHome { padding-right:5px;}
#openLogin:hover, #openHome:hover {
	color:#000;
	text-decoration:none;
}

/* login box*/
#login_pop {
	position:fixed!important;
	width:250px;
	height:225px;
	top:250px!important;
	leftt:50%!important;
	right:auto!important;
	margin-left:-282px!important;
	background:#fff;
	color:#ccc;
	text-align:left;
	padding:10px;
	border:10px solid #ffb638;
	z-index:1000000;
	border-radius:3px;
}
/* registration box */
#reg_pop {
	position:fixed;
	width:455px;
	height:275px;
	top:250px;
	background:#fff;
	color:#ccc;
	text-align:left;
	padding:20px 10px 10px 20px;
	border:10px solid #a82428;
	z-index:1000000;
	border-radius:3px;
}
#reg_pop .popyjreg{
	overflow:hidden;
	display:block;
}
#reg_pop .popyjreg_ins{
	clear:both;
	overflow:hidden;
	display:block;
	padding-top:2px;
}

#reg_pop .inputbox {
	width:220px;
	float:right;
	margin-bottom:5px;
	margin-right:40px;
	margin-top:3px;
	

}
.popyjreg_ins #name.inputbox { margin-top:0!important;}
#reg_pop label{
	float:left;
	display:block;
	color:#000;
	font:bold 12px/18px Arial, Helvetica, sans-serif;
	padding-top:6px;
}
p.information_td{
	clear:both;
	display:block;
	color:#04225c;
}
/* closing buttons*/
#closeReg, #closeLogin {
	display:inline-block;
	width:30px;
	height:30px;
	position:absolute;
	top:5px;
	right:5px;
	text-align:center;
	line-height:25px;
	background:url(../images/fancy_close.png) left top no-repeat;
	color:#000;
	text-decoration:none;
}
/* input boxes and rest */
#yjpop_passwd {
	margin:0 0 10px 0;
	color:#7c7c7c;
}
#yjpop_username {
	margin:0 0 5px 0;
	color:#7c7c7c;
}
#yjpop_remember {
	padding:0; margin:3px 5px 0 0;
	width:12px; height:12px;
	float:left;
	border:none;
	font:normal 0/0 Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
#login_pop .button {
	margin:10px 0;
}
.Forgot { list-style-type:none; margin:0; padding:0; overflow:hidden;}
.Forgot li a { font:normal 14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#000;}
/* logeedin class */
#login-form2 { float:right; }
#logins span {
	text-align:left !Important;
	display:inline-block;
	height:auto !Important;
	overflow:hidden;
	clear:both;
	color:#b4b3b3;
	padding:0px 10px 0 0;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
#login-form2 .button  {
	display:inline-block;
	height:auto;
	width:auto;
	text-align:left;
	background:none;
	border:none;
	color:#b4b3b3;
	text-decoration:none;
	margin:0;
	padding:0;
	font:normal 11px/17px Arial, Helvetica, sans-serif;
	text-transform:none;
	float:none;
	background:none;
	}
	#login-form2 .button:hover {
		background:none;
		color:#000 !important;
		text-decoration:none;
	}

#login-form2 .button {
	margin:0 0;
	float:left;
}
