<table width="600" border="0" cellpadding="2" cellspacing="2" bgcolor="#F9F9F9" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;">
  <tr>
    <td height="35" colspan="4" align="center" bgcolor="#828282" style="color: #FFFFFF;	font-weight: bold;">FORMULARIO DE PROMOCIONES</td>
  </tr>
  <tr>
    <td width="16" height="22" bgcolor="#E8E8E8" >&nbsp;</td>
    <td width="173" bgcolor="#E8E8E8"><strong>&nbsp;&nbsp;Nombres: </strong></td>
    <td width="389" bgcolor="#FFFFFF">%%tpl_nombres%%</td>
    <td width="12" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td height="22" bgcolor="#E8E8E8">&nbsp;</td>
    <td bgcolor="#E8E8E8"><strong>&nbsp;&nbsp;E-mail:</strong></td>
    <td bgcolor="#FFFFFF">%%tpl_email%%</td>
    <td bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td height="22" bgcolor="#E8E8E8">&nbsp;</td>
    <td bgcolor="#E8E8E8"><strong>&nbsp;&nbsp;Fecha: </strong></td>
    <td bgcolor="#FFFFFF">%%tpl_dateformat_spanish%%</td>
    <td bgcolor="#FFFFFF">&nbsp;</td>
  </tr>

  
</table>
