<div style="font-family: arial,sans-serif; font-size: 13px; background:#FCFCFA url(http://americanexpeditions.pe/hansa/templates/bg_templatehtml_form.jpg) repeat-x top left; width:100%; height:350px; padding:5px 2px; border:1px solid #6C8301;">
              <div style="padding: 4px 5px; font-size: 20px; background-image:url(http://americanexpeditions.pe/hansa/templates/line_bg_template_mail.jpg); background-repeat:repeat-x;" id="ecxheader"><span style="color:#000;">AQUARIUM TRAVEL  <strong style="color:#000; font-size:12px;">&copy;</strong></span> <small style="font-size:12px;">A SU SERVICIO</small> <span style="font-size:12px;">- <strong>%%tpl_year%%</strong></span></div>
              <br>
<div style="padding-left:5px; font-size:14px;"> <h2 style="color: #FF0000; font-size:14px; margin-bottom:5px; font-weight:normal;">Información del formulario de Reservas </h2>
   <span style="color:#F00;">Nombres</span> :%%tpl_nombres%%<br>
   <span style="color:#F00;">Apellidos</span> :%%tpl_apellidos%%<br>
   <span style="color:#F00;">Pais de Origen</span> :%%tpl_pais%%<br>
   <span style="color:#F00;">Cantidad de viajeros adultos</span> :%%tpl_cantidad%%<br>
   <span style="color:#F00;">Cantidad de viajeros ninos</span> :%%tpl_ninos%%<br>
   <span style="color:#F00;">Tel&eacute;fono</span> :%%tpl_telefono%%<br>
   <span style="color:#F00;">Celular</span> :%%tpl_celular%%<br>
   <span style="color:#F00;">Hoteles</span> :%%tpl_hoteles%%<br>
   <span style="color:#F00;">Fecha de Salida</span> :%%tpl_fecha%%<br>
   <span style="color:#F00;">Destino Interesado</span> :%%tpl_destino%%<br>
   <span style="color:#F00;">Fecha de Envio</span> :%%tpl_dateformat_spanish%%<br>
   <span style="color:#F00;">E-mail</span> :%%tpl_email%%<br>
   <span style="color:#F00;">Anotacion</span> :%%tpl_anotacion%%<br>
   </p>
  </div>
<div style="padding: 0;">
<div style="background-color:#C0DF18;border:1px solid silver;font:93% Arial,Helvetica,sans-serif;margin:1em 0 0;padding:0.5em;">
<span style="padding-left: 20px;">Telefono:(511) 444-1091 / 241-1056 | reservas@aquariumtravel.com.pe</span>
</div></div></div>